{% extends 'layout.html' %}

{% block content %}
  <div class="mypage">
    <div class="header">
      <p class="title">마이페이지</p>
      <a class="quit">회원 탈퇴</a>
    </div>
    <div class="info-box">
      <img alt="프로필 사진을 설정해주세요" src="./no-profile.png" class="my-image">
      <div class="right">
        <p><span class="user-name">{{user.nick}}</span>님의 정보</p>
        <div class="info-count">
          <div>
            <span>좋아요</span>
            <span>{{myLikeCount}}</span>
          </div>
          <div>
            <span>찜한 여행</span>
            <span>{{myZzimCount}}</span>
          </div>
          <div>
            <span>나의 리뷰</span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    // window.addEventListener('load', async () => {
    //   try {
    //     const result = await axios({
    //       method: 'get',
    //       url: `https://apis.data.go.kr/B551011/KorService/areaBasedList?serviceKey={{serviceKey}}&arrange=O&contentTypeId=12&areaCode=1&MobileOS=ETC&MobileApp=AppTest&_type=json&listYN=Y&arrange=C`,
    //     })
    //     console.log(result.data.response.body.items.item)
    //     const regionTag = document.querySelector('.region') 
    //     const titles = result.data.response.body.items.item
    //     const resultTag = document.querySelector('.result');
    //     const span = document.createElement('span')
    //     span.innerText = ` ${titles.length}건`
    //     regionTag.appendChild(span)
    //     titles.forEach(el => {
    //       const div = document.createElement('div')
    //       const p = document.createElement('p');
    //       const img = document.createElement('img')
    //       p.innerText = el.title;
    //       img.src = el.firstimage ? el.firstimage : ''
    //       div.appendChild(img);
    //       div.appendChild(p);
    //       div.setAttribute('class', 'site')
    //       div.addEventListener('click', () => {
    //         location.replace(`/site/${el.contentid}`)
    //       })
    //       resultTag.appendChild(div);
    //     });

    //   } catch (error) {
    //     console.error(error)
    //   }
    // })
  </script>
{% endblock %}