{% extends 'layout.html' %}

{% block content %}
  <div class="mypage">
    <div class="header">
      <p class="title">마이페이지</p>
      <a class="quit">회원 탈퇴</a>
    </div>
    <div class="info-box">
      <form enctype="multipart/form-data" action="/mypage/user/image" method="post">
      {% if user.img %}
        <img src="/{{user.img}}" class="my-image">
      {% else %}
        <img alt="프로필 사진을 설정해주세요" src="/no-profile.png" class="my-image">
      {% endif %}
        <input id="img" type="file" name="img" accept="image/*" hidden>
        <a type="submit" class="mini-btn update">수정</a>
        <button type="submit" class="btn mini-btn submit" hidden>등록</button>
      </form>
      <div class="right">
        <p><span class="user-name">{{user.nick}}</span>님의 정보</p>
        <div class="info-count">
          <div>
            <span>좋아요</span>
            <span>{{userLiked.length}}</span>
          </div>
          <div>
            <span>찜한 여행</span>
            <span>{{userZzimed.length}}</span>
          </div>
          <div>
            <span>나의 리뷰</span>
            <span>{{userReviewed.length}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="box-wrapper">
      <p style="font-size: 0.9rem;">좋아요</p>
      <div class="like-box">
        {% for like in userLiked %}
          <div class="like-site" data-id="{{like.contentId}}">
            <p>{{like.name}}</p>
            <p>{{like.address}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="box-wrapper">
      <p style="font-size: 0.9rem;">찜한 여행</p>
      <div class="zzim-box">
      {% for zzim in userZzimed %}
        <div class="zzim-site" data-id="{{zzim.contentId}}">
          <p>{{zzim.name}}</p>
          <p>{{zzim.address}}</p>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="box-wrapper">
      <p style="font-size: 0.9rem;">나의 리뷰</p>
      <div class="my-review-box">
      {% for review in userReviewed %}
        <div class="review-site" data-id="{{review.contentId}}">
          <p>{{review.name}}</p>
          <p>{{review.address}}</p>
        </div>
      {% endfor %}
      </div>
    </div>
{% endblock %}
{% block script %}
  <script>
    const imgTag = document.querySelector('.info-box img');
    const imgInput = document.querySelector('.info-box #img');
    const imgUrlTag = document.querySelector('.info-box #img-url');
    const updateBtn = document.querySelector('.info-box .update')
    const submitBtn = document.querySelector('.info-box .submit')
    updateBtn.addEventListener('click', () => {
      imgInput.click()
    })

    if (imgInput) {
      imgInput.addEventListener('change', async (e) => {
        updateBtn.style.display = 'none'
        submitBtn.style.display = 'block';
        const imgUrl = URL.createObjectURL(imgInput.files[0]);
        imgTag.src = imgUrl;
      });
    }

    const likeSite = document.querySelectorAll('.like-site');
    likeSite.forEach((site) => {
      site.addEventListener('click', () => {
        location.replace(`/site/${site.dataset.id}`)
      })
    })
    const zzimSite = document.querySelectorAll('.zzim-site');
    zzimSite.forEach((site) => {
      site.addEventListener('click', () => {
        location.replace(`/site/${site.dataset.id}`)
      })
    })
  </script>
{% endblock %}