{% block content %}
  <div class="pagination">
    <div class="buttons"></div>
  </div>
{% endblock %}
{% block script %}
  <script>
    const buttons = document.querySelector(".buttons");
    const lengthTag = document.querySelector('.title .result-length')
    
    let totalPages;
    const maxButton = 5
    const maxNum = 10
    let pageNum = parseInt('{{pageNum}}')
    let firstButtonNum = (parseInt((pageNum - 1) / maxButton) * maxButton) + 1

    const makeButton = (id) => {
      const button = document.createElement('button');
      button.classList.add('button');
      button.dataset.num = id;
      button.innerText = id;
      button.addEventListener('click', (e) => {
        Array.prototype.forEach.call(buttons.children, (button) => {
          if (button.dataset.num) button.classList.remove('active')
        });
        e.target.classList.add('active');
        location.replace(`/result/{{region}}?pageNum=${id}`)
      })
      return button
    }

    const goPrevPage = () => {
      firstButtonNum -= maxButton;
      pageNum = firstButtonNum + maxButton - 1
      renderButton(pageNum);
      location.replace(`/result/{{region}}?pageNum=${pageNum}`)
      renderButton(pageNum)
    };

    const goNextPage = () => {
      firstButtonNum += maxButton;
      renderButton(firstButtonNum);
      location.replace(`/result/{{region}}?pageNum=${firstButtonNum}`)
      renderButton(pageNum)
    };

    const prev = document.createElement("button");
    prev.classList.add("button", "prev");
    prev.innerHTML = '<i class="fa-solid fa-angle-left"></i>';
    prev.addEventListener("click", goPrevPage);

    const next = document.createElement("button");
    next.classList.add("button", "next");
    next.innerHTML = '<i class="fa-solid fa-angle-right"></i>';
    next.addEventListener("click", goNextPage);

    const renderButton = (pageNum) => {
      while (buttons.hasChildNodes()) {
        buttons.removeChild(buttons.lastChild)
      };

      for (let id = firstButtonNum; id < firstButtonNum + maxButton && id <= totalPages; id++) {
        buttons.appendChild(makeButton(id));
      }
      buttons.prepend(prev);
      buttons.append(next)

      if (pageNum - maxButton < 1) buttons.removeChild(prev);
      if (pageNum + maxButton  > totalPages) buttons.removeChild(next)
    }

    window.addEventListener('load', async () => {
      const resultTotal = await axios({
        method: 'get',
        url: `https://apis.data.go.kr/B551011/KorService/searchKeyword?serviceKey={{serviceKey}}&numOfRows=${maxNum}&pageNo=1&MobileOS=ETC&MobileApp=visitKorea&_type=json&contentTypeId=12&listYN=N&arrange=Q&keyword={{region}}`,
      })
      const totalCount = resultTotal.data.response.body.items.item[0].totalCnt
      const result = await axios({
        method: 'get',
        url: `https://apis.data.go.kr/B551011/KorService/searchKeyword?serviceKey={{serviceKey}}&numOfRows=${totalCount}&pageNo=1&MobileOS=ETC&MobileApp=visitKorea&_type=json&contentTypeId=12&listYN=Y&arrange=Q&keyword={{region}}`,
      })
      const titles = result.data.response.body.items.item;
      let filteredCount = [];
      titles.forEach((el) => {
        if (!el.firstimage) return
        filteredCount.push(el)
      })
      if (filteredCount.length % maxNum === 0) {
        totalPages = parseInt(filteredCount.length / maxNum)
      } else {
        totalPages = parseInt(filteredCount.length / maxNum) + 1
      }
      lengthTag.innerText = ` ${filteredCount.length}건`
      renderButton(pageNum)
      
      const btns = document.querySelectorAll('.pagination .button');
      btns.forEach((btn) => {
        if (btn.innerText == pageNum) {
          btn.classList.add('active')
        }
      })
    })

    

  </script>
{% endblock %}



