{% extends 'layout.html' %}

{% block content %}
  <div class="register-box">
    <h4>register</h4>
    <p class="form-alert"></p>
    <form>
      <div class="name-field">
        <label for="nick">Nickname</label>
        <input
          type="text"
          name="nick"
          class="register-input"
          placeholder="nickname"
          id="nick"
          required
        />
      </div>
      <div class="email-field">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          class="register-input"
          placeholder="email"
          id="email"
          required
        />
      </div>
      <div class="password-field">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          class="register-input"
          placeholder="password"
          id="password"
          required
        />
      </div>
      <button type="submit" class="btn submit-btn">가입하기</button>
    </form>
    <div class="form-alert"></div>
  </div>
  <section class="tasks-container">
    <p class="loading-text">Loading...</p>
    <div class="tasks"></div>
  </section>
{% endblock %}
{% block script %}
  <script>
    const registerBox = document.querySelector('.register-box');
    const registerForm = registerBox.querySelector('form');
    const formAlert = registerBox.querySelector('.form-alert');

    registerBox.addEventListener('submit', (e) => {
      e.preventDefault()
      const nick = registerForm.querySelector('#nick').value
      const email = registerForm.querySelector('#email').value
      const password = registerForm.querySelector('#password').value
      axios({
        method: 'post',
        url: `/auth/register`,
        data: {
          nick, 
          email, 
          password
        }
      })
      .then((res) => {
        if (res.data.message) {
          formAlert.innerText = (res.data.message);
          formAlert.style.display = 'block'
          formAlert.classList.add('active')
          loginForm.querySelectorAll('input').forEach((input) => {
            input.value = ''
          })
          setTimeout(() => {
            formAlert.classList.remove('active');
            formAlert.style.display = 'none'
          }, 3500);
        } else {
          location.replace('/login')
        }
      })
      .catch((err) => {
        console.error(err);
      });
    })
  </script>
{% endblock %}