{% block content %}
  <li class="icon review">
    <i class="fa-regular fa-comment-dots"></i>
    <p>리뷰</p>
    <p class="number">{{reviews.length}}</p>
  </li>
  <div class="review-form hide">
    <div class="form-box">
      <h4>Review</h4>
      <p class="form-alert"></p>
      <form enctype="multipart/form-data">
        <div class="rate-field">
          <label for="email">평가</label>
          <span class="star">
            ★★★★★
            <span>★★★★★</span>
            <input type="range" value="1" step="1" min="0" max="10">
          </span>
        </div>
        <div class="review-field">
          <label for="review">리뷰</label>
          <textarea
            type="text"
            name="review"
            id="review"
            required
          ></textarea>
        </div>
        <div class="img-field">
          <label>사진</label>
          <label id="img-label" for="img">파일 선택</label>
          <input id="img" type="file" accept="image/*" hidden>
        </div>
        <div class="img-preview">
          <img id="img-preview" src="" style="display: none" width="150" alt="미리보기">
          <input id="img-url" type="hidden" name="url">
        </div>
        <button type="submit" class="btn submit-btn">등록</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    const star = document.querySelector('.star span');
    const starInput = document.querySelector('.star input');
    const reviewBtn = document.querySelector('.review');
    const reviewForm = document.querySelector('.review-form form');
    const imgInput = document.querySelector('#img');
    const imgPreview = document.querySelector('#img-preview')

    starInput.addEventListener('input', (e) => {
      star.style.width = `${e.target.value * 10}%`;
    })

    reviewBtn.addEventListener('click', () => {
      const reviewBox = document.querySelector(".details.review");
      reviewBox.scrollIntoView()
    })

    const imgUrlTag = document.querySelector('#img-url')
    if (imgInput) {
      imgInput.addEventListener('change', async (e) => {
        const formData = new FormData();
        formData.append('image', imgInput.files[0]);
        const result = await axios.post('/site/{{id}}/review/image', formData);
        imgPreview.src = `/${result.data.url}`;
        imgUrlTag.value = result.data.url
        imgPreview.style.display = 'inline';
      });
    }
    reviewForm.addEventListener('submit', async (e) => {
      try {
        e.preventDefault()
        if (reviewForm.querySelector('.submit-btn').innerText === '수정') {
          await axios({
            method: 'patch',
            url: `/site/{{id}}/review/${updateBtn.dataset.id}`,
            data: {
              content: reviewForm.querySelector('textarea').value,
              rate: starInput.value * 10,
              img: imgUrlTag.value,
            }
          })
        } else {
          const name = document.querySelector('.info .name').innerText
          const address = document.querySelector('.info .address').innerText
          await axios({
            method: 'post',
            url: `/site/{{id}}/review`,
            data: {
              content: reviewForm.querySelector('textarea').value,
              rate: starInput.value * 10,
              img: imgUrlTag.value,
              name,
              address
            }
          })
        }
        location.replace('/site/{{id}}')
      } catch (error) {
        console.error(error)
      }
    })
  </script>
{% endblock %}