{% extends 'layout.html' %}

{% block content %}
  <div class="site-page">
    <div class="info"></div>
    <ul class="buttons">
      <li class="icon like" data-likeList={{likeList}}>
        <i class="fa-regular fa-thumbs-up {{liked}}"></i>
        <p>좋아요</p>
        <p class="number">{{likerCount}}</p>
      </li>
      <li class="icon zzim" data-zzimList={{zzimList}}>
        <i class="fa-regular fa-heart"></i>
        <p>찜하기</p>
        <p class="number">0</p>
      </li>
      {% include "review.html" %}
    </ul>
    <div class="bottom">
      <div class="details">
        <div class="head-box">
          <p>상세정보</p>
          <i class="fa-solid fa-angle-down"></i>
        </div>
        <div class="detail info"></div>
      </div>
      <div class="details review">
        <div class="head-box">
          <p>리뷰</p>
          <i class="fa-solid fa-angle-down"></i>
        </div>
        <div class="detail review">
          <div class="top">
            <p>여행가의 리뷰<span> (0)</span></p>
            <button class="btn add-review">리뷰 등록</button>
          </div>
          <ul class="sort">
            <li><a>최신</a></li>
            <li><a>추천</a></li>
            <li><a>평가</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    window.addEventListener('load', async () => {
      try {
        const result = await axios({
          method: 'get',
          url: `https://apis.data.go.kr/B551011/KorService/detailCommon?serviceKey={{serviceKey}}&MobileOS=ETC&MobileApp=AppTest&_type=json&contentId={{id}}&contentTypeId=12&defaultYN=Y&firstImageYN=Y&areacodeYN=Y&catcodeYN=Y&addrinfoYN=Y&mapinfoYN=Y&overviewYN=Y`,
        })
        const infoTag = document.querySelector('.info');
        const site = result.data.response.body.items.item[0]
        const div = document.createElement('div')
        const nameTag = document.createElement('p');
        const addressTag = document.createElement('p');
        const img = document.createElement('img')
        nameTag.innerText = site.title;
        nameTag.setAttribute('class', 'name');
        addressTag.innerText = site.addr1;
        addressTag.setAttribute('class', 'address');
        img.src = site.firstimage ? site.firstimage : ''
        infoTag.appendChild(img);
        div.appendChild(nameTag);
        div.appendChild(addressTag);
        infoTag.appendChild(div);
        
        const headBoxs = document.querySelectorAll('.head-box');
        headBoxs.forEach((box) => {
          box.addEventListener('click', (e) => {
            const detailInfo = document.querySelector('.detail.info');
            console.log(e.target.parentNode.parentNode)
              if (e.target.classList.contains('fa-angle-down')) {
                e.target.className = "fa-solid fa-angle-up"
                e.target.parentNode.parentNode.querySelector('.detail').classList.add('active')
              } else {
                e.target.className = "fa-solid fa-angle-down"
                e.target.parentNode.parentNode.querySelector('.detail').classList.remove('active')
              }
            detailInfo.innerText = site.overview.replace(/<[^>]*>?/g, '');
          })
        })
      } catch (error) {
        console.error(error)
      }
    })

    const likeBtn = document.querySelector('.like');
    likeBtn.addEventListener('click', async () => {
      try {
        if (!'{{user}}') {
          if (confirm('로그인이 필요합니다. 로그인 페이지로 이동하시겠습니까?')) {
            return location.replace('/login')
          } 
        } else {
          const likeList = likeBtn.dataset.likeList || []
          const likerNumber = likeBtn.querySelector('.number').innerText
          if (likeBtn.querySelector('i').classList.contains('liked')) {
            await axios({
              method: 'delete',
              url: `/site/${'{{id}}'}/like`,
            })
            likeBtn.querySelector('i').classList.remove('liked')
            likeBtn.querySelector('i').classList.add('unliked')
            likeBtn.querySelector('.number').innerText = parseInt(likerNumber) - 1
          } else {
            const name = document.querySelector('.info .name').innerText
            await axios({
              method: 'post',
              url: `/site/${'{{id}}'}/like`,
              data: {
                name,
                contentId: '{{id}}'
              }
            })
            likeBtn.querySelector('i').classList.remove('unliked')
            likeBtn.querySelector('i').classList.add('liked')
            likeBtn.querySelector('.number').innerText = parseInt(likerNumber) + 1
          }
        }
      } catch (error) {
        console.error(error)
      }
    })

    const zzimBtn = document.querySelector('.zzim');
    zzimBtn.addEventListener('click', async () => {
      try {
        if (!'{{user}}') {
          if (confirm('로그인이 필요합니다. 로그인 페이지로 이동하시겠습니까?')) {
            return location.replace('/login')
          } 
        } else {
          const zzimList = zzimBtn.dataset.zzimList || []
          const zzimerNumber = zzimBtn.querySelector('.number').innerText
          if (zzimBtn.querySelector('i').classList.contains('zzimed')) {
            await axios({
              method: 'delete',
              url: `/site/${'{{id}}'}/zzim`,
            })
            zzimBtn.querySelector('i').classList.remove('zzimed')
            zzimBtn.querySelector('i').classList.add('unzzimed')
            zzimBtn.querySelector('.number').innerText = parseInt(zzimerNumber) - 1
          } else {
            const name = document.querySelector('.info .name').innerText
            await axios({
              method: 'post',
              url: `/site/${'{{id}}'}/zzim`,
              data: {
                name,
                contentId: '{{id}}'
              }
            })
            zzimBtn.querySelector('i').classList.remove('unzzimed')
            zzimBtn.querySelector('i').classList.add('zzimed')
            zzimBtn.querySelector('.number').innerText = parseInt(zzimerNumber) + 1
          }
        }
      } catch (error) {
        console.error(error)
      }
    })

    const addReviewBtn = document.querySelector('.add-review');
    addReviewBtn.addEventListener('click', () => {
      const reviewForm = document.querySelector('.review-form');
      reviewForm.classList.remove('hide')
      window.scrollTo({ left: 0, top: 0, behavior: "smooth" });
    })

  </script>
{% endblock %}