{% extends 'layout.html' %}

{% block content %}
  <div class="site-page">
    <div class="info"></div>
    <ul class="buttons">
      <li class="icon like" data-likeList={{likeList}}>
        <i class="fa-regular fa-thumbs-up {{liked}}"></i>
        <p>좋아요</p>
        <p class="number">{{likerCount}}</p>
      </li>
      <li class="icon zzim" data-zzimList={{zzimList}}>
        <i class="fa-regular fa-heart {{zzimed}}"></i>
        <p>찜하기</p>
        <p class="number">{{zzimerCount}}</p>
      </li>
      {% include "review.html" %}
    </ul>
    <div class="bottom">
      <div class="details">
        <div class="head-box">
          <p>상세정보</p>
          <i class="fa-solid fa-angle-down"></i>
        </div>
        <div class="detail info"></div>
      </div>
      <div class="details review">
        <div class="head-box">
          <p>리뷰</p>
          <i class="fa-solid fa-angle-down"></i>
        </div>
        <div class="detail review">
          <div class="top">
            <p>여행가의 리뷰<span> ({{reviews.length}})</span></p>
          {% if user %}
            <button class="btn add-review">리뷰 등록</button>
          {% endif %}
          </div>
          <ul class="sort">
            <li><a>최신</a></li>
            <li><a>추천</a></li>
            <li><a>평가</a></li>
          </ul>
        {% for review in reviews %}
          <div class="review-box">
            <div class="left">
            {% if review.User.img %}
              <img src="{{review.User.img}}" class="user-image">
            {% else %}
              <img src="/profile.png" class="user-image">
            {% endif %}
              <p>{{review.Reviewer.nick}}</p>
              <p class="createdAt" data-created="{{review.createdAt}}"></p>
              <span class="star">
                ★★★★★
                <span style="width: {{review.rate}}%;">★★★★★</span>
              </span>
            </div>
            <div class="right">
              <div class="thumbs-up">
                <i class="fa-regular fa-thumbs-up {{thumbs}}"></i>
                <p class="number">{{thumbsCount}}</p>
                <a class="mini-btn" data-id="{{review.id}}">추천</a>
              </div>
              <p>{{review.content}}</p>
            {% if review.img %}
              <img src="/{{review.img}}" class="review-img">
            {% endif %}
            {% if review.Reviewer.nick === user.nick %}
              <div class="review-buttons">
                <a class="mini-btn">수정</a>
                <a class="mini-btn">삭제</a>
              </div>
            {% endif %}
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    window.addEventListener('load', async () => {
      try {
        const result = await axios({
          method: 'get',
          url: `https://apis.data.go.kr/B551011/KorService/detailCommon?serviceKey={{serviceKey}}&MobileOS=ETC&MobileApp=AppTest&_type=json&contentId={{id}}&contentTypeId=12&defaultYN=Y&firstImageYN=Y&areacodeYN=Y&catcodeYN=Y&addrinfoYN=Y&mapinfoYN=Y&overviewYN=Y`,
        })
        const infoTag = document.querySelector('.info');
        const site = result.data.response.body.items.item[0]
        const div = document.createElement('div')
        const nameTag = document.createElement('p');
        const addressTag = document.createElement('p');
        const img = document.createElement('img')
        nameTag.innerText = site.title;
        nameTag.setAttribute('class', 'name');
        addressTag.innerText = site.addr1;
        addressTag.setAttribute('class', 'address');
        img.src = site.firstimage ? site.firstimage : ''
        infoTag.appendChild(img);
        div.appendChild(nameTag);
        div.appendChild(addressTag);
        infoTag.appendChild(div);
        
        const headBoxs = document.querySelectorAll('.head-box');
        headBoxs.forEach((box) => {
          box.addEventListener('click', (e) => {
            const detailInfo = document.querySelector('.detail.info');
              if (e.target.classList.contains('fa-angle-down')) {
                e.target.className = "fa-solid fa-angle-up"
                e.target.parentNode.parentNode.querySelector('.detail').classList.add('active')
              } else {
                e.target.className = "fa-solid fa-angle-down"
                e.target.parentNode.parentNode.querySelector('.detail').classList.remove('active')
              }
            detailInfo.innerText = site.overview.replace(/<[^>]*>?/g, '');
          })
        })
      } catch (error) {
        console.error(error)
      }
    })

    const likeBtn = document.querySelector('.like');
    likeBtn.addEventListener('click', async () => {
      try {
        if (!'{{user}}') {
          if (confirm('로그인이 필요합니다. 로그인 페이지로 이동하시겠습니까?')) {
            return location.replace('/login')
          } 
        } else {
          const likeList = likeBtn.dataset.likeList || []
          const likerNumber = likeBtn.querySelector('.number').innerText
          if (likeBtn.querySelector('i').classList.contains('liked')) {
            await axios({
              method: 'delete',
              url: `/site/${'{{id}}'}/like`,
            })
            likeBtn.querySelector('i').classList.remove('liked')
            likeBtn.querySelector('i').classList.add('unliked')
            likeBtn.querySelector('.number').innerText = parseInt(likerNumber) - 1
          } else {
            const name = document.querySelector('.info .name').innerText
            await axios({
              method: 'post',
              url: `/site/${'{{id}}'}/like`,
              data: {
                name,
                contentId: '{{id}}'
              }
            })
            likeBtn.querySelector('i').classList.remove('unliked')
            likeBtn.querySelector('i').classList.add('liked')
            likeBtn.querySelector('.number').innerText = parseInt(likerNumber) + 1
          }
        }
      } catch (error) {
        console.error(error)
      }
    })

    const thumbsBtns = document.querySelectorAll('.thumbs-up a');
    thumbsBtns.forEach((btn) => {
      btn.addEventListener('click', async () => {
      try {
        if (!'{{user}}') {
          if (confirm('로그인이 필요합니다. 로그인 페이지로 이동하시겠습니까?')) {
            return location.replace('/login')
          } 
        } else {
          const btnParent = btn.parentElement.querySelector('i')
          const likerNumber = btnParent.querySelector('.number').innerText
          if (btnParent.classList.contains('liked')) {
            await axios({
              method: 'delete',
              url: `/site/${'{{id}}'}/thumbsup`,
            })
            btnParent.querySelector('i').classList.remove('liked')
            btnParent.querySelector('i').classList.add('unliked')
            btnParent.querySelector('.number').innerText = parseInt(likerNumber) - 1
          } else {
            const name = document.querySelector('.info .name').innerText
            await axios({
              method: 'post',
              url: `/site/${'{{id}}'}/thumbsup`,
              data: {
                name,
                contentId: '{{id}}',
                reviewId: btn.dataset.id
              }
            })
            btnParent.querySelector('i').classList.remove('unliked')
            btnParent.querySelector('i').classList.add('liked')
            btnParent.querySelector('.number').innerText = parseInt(likerNumber) + 1
          }
        }
      } catch (error) {
        console.error(error)
      }
    })
    })

    const zzimBtn = document.querySelector('.zzim');
    zzimBtn.addEventListener('click', async () => {
      try {
        if (!'{{user}}') {
          if (confirm('로그인이 필요합니다. 로그인 페이지로 이동하시겠습니까?')) {
            return location.replace('/login')
          } 
        } else {
          const zzimList = zzimBtn.dataset.zzimList || []
          const zzimerNumber = zzimBtn.querySelector('.number').innerText
          if (zzimBtn.querySelector('i').classList.contains('zzimed')) {
            await axios({
              method: 'delete',
              url: `/site/${'{{id}}'}/zzim`,
            })
            zzimBtn.querySelector('i').classList.remove('zzimed')
            zzimBtn.querySelector('i').classList.add('unzzimed')
            zzimBtn.querySelector('.number').innerText = parseInt(zzimerNumber) - 1
          } else {
            const name = document.querySelector('.info .name').innerText
            await axios({
              method: 'post',
              url: `/site/${'{{id}}'}/zzim`,
              data: {
                name,
                contentId: '{{id}}'
              }
            })
            zzimBtn.querySelector('i').classList.remove('unzzimed')
            zzimBtn.querySelector('i').classList.add('zzimed')
            zzimBtn.querySelector('.number').innerText = parseInt(zzimerNumber) + 1
          }
        }
      } catch (error) {
        console.error(error)
      }
    })

    const addReviewBtn = document.querySelector('.add-review');
    const reviewWrapper = document.querySelector('.review-form');
    const reviewBox = document.querySelector(".details.review");
    const formBox = document.querySelector('.form-box')

    addReviewBtn?.addEventListener('click', () => {
      reviewWrapper.classList.remove('hide')
      window.scrollTo({ left: 0, top: 0, behavior: "smooth" });
      document.querySelectorAll('.head-box').forEach((box) => {
        box.querySelectorAll('.fa-solid').forEach(icon => {
          icon.style.display = 'none'
        });
        box.style.position = 'static'
      })
    })

    document.addEventListener('mouseup', (e) => {
      if (reviewWrapper.classList.contains('hide')) return
      if (!formBox.contains(e.target)) {
        reviewWrapper.classList.add('hide')
        reviewBox.scrollIntoView({ behavior: "smooth" })
        document.querySelectorAll('.head-box').forEach((box) => {
          box.querySelectorAll('.fa-solid').forEach(icon => {
          icon.style.display = 'block'
        });
          box.style.position = 'relative'
        })
      }
    });

    const createdDateTag = document.querySelectorAll('.createdAt');
    createdDateTag.forEach((tag) => {
      const createdAt = new Date(tag.dataset.created);
      const year = createdAt.getFullYear();
      const month = createdAt.getMonth() + 1 < 10 ? `0${createdAt.getMonth() + 1}` : createdAt.getMonth() + 1;
      const date = createdAt.getDate() + 1 < 10 ? `0${createdAt.getDate() + 1}` : createdAt.getDate() + 1;
      tag.innerText = `${year}.${month}.${date}`
    })
  </script>
{% endblock %}